@import "./color_schemes/light";

// add custom colours here
$cardinal-red: #8C1515; // can be updated assumed primary author's university color scheme

$link-color: $cardinal-red;
$btn-primary-color: $cardinal-red;
